.header {
  position: relative;
  top: 15px;
  font-size: 10pt;
  display: inline-block;
  width: 100%;
  font-family: arial;
}

.left-head {
  float: left;
}

.right-head {
  float: right;

}

a {
  padding: 8px;
}

a:hover {
  text-decoration: underline;
}

.body {
  position: absolute;
  top: 200px;
  width: 100%;
}

.google-logo {
  width: 17.5%;
  margin: auto;
}

.search-bar {
  display: block;
  width: 33%;
  margin: 30px auto;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;

  height: 30px;
  font-size: 14pt;
  border: 1px solid #CCC;
  padding: 5px;
}

.buttons {
  width: 20%;
  margin: auto;
}

input {
  font-size: 10pt;
  height: 30px;
  padding: 0 25px 0 25px;
  border: 0;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

input:hover {
  border: 1px solid black;
}

.footer {
  position: absolute;
  bottom: 0;
  font-size: 10pt;
  display: inline-block;
  width: 100%;
  font-family: arial;
  border: 1px solid #CCC;
  background-color: #EFEFEF;
  height: 20px;
  padding: 10px;
  color: #555;
}

.left-foot {
  float: left;
}

.right-foot {
  float: right;
}

div {
  clear: none;
}


